name: conda-mirror test

permissions:
  contents: read

on:
  pull_request: []

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v3
      - name: Check Spelling
        uses: crate-ci/typos@c16dc8f5b4a7ad6211464ecf136c69c851e8e83c # v1.22.9
        with:
          files: ./README.md
      - name: Install Conda environment from environment.yml
        uses: mamba-org/provision-with-micromamba@3c96c0c27676490c63c18bc81f5c51895ac3e0e6 # v16
      - name: Lint Conda Oci Mirror
        shell: bash -l {0}
        run: |
          pre-commit run --all-files

  testing:
    runs-on: ubuntu-latest
    services:
      registry:
        image: ghcr.io/oras-project/registry:latest
        env:
          REGISTRY_STORAGE_DELETE_ENABLED: "true"
        ports:
          - 5000:5000
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v3
      - name: Install Conda environment from environment.yml
        uses: mamba-org/provision-with-micromamba@3c96c0c27676490c63c18bc81f5c51895ac3e0e6 # v16
      - name: Test Conda OCI Mirror
        shell: bash -l {0}
        env:
          registry_host: http://localhost
          registry_port: ${{ job.services.registry.ports[5000] }}
        run: |
          micromamba install conda-build -c conda-forge
          pip install .
          pytest -xs conda_oci_mirror/tests/*.py

  mirror-pkgs:
    runs-on: ubuntu-latest
    services:
      registry:
        image: ghcr.io/oras-project/registry:latest
        env:
          REGISTRY_STORAGE_DELETE_ENABLED: "true"
        ports:
          - 5000:5000
    strategy:
      max-parallel: 12
      matrix:
        package: [redo]
        subdir:
          - linux-64
          - osx-64
          - osx-arm64
          - win-64
          - linux-aarch64
          - linux-ppc64le
          - noarch
      fail-fast: true
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v3
      - name: Install Conda environment from environment.yml
        uses: mamba-org/provision-with-micromamba@3c96c0c27676490c63c18bc81f5c51895ac3e0e6 # v16
      - name: Install Conda Oci Mirror
        shell: bash -l {0}
        run: |
          micromamba install conda-build
          pip install -e .

      - name: Test Conda Oci Mirror
        shell: bash -l {0}
        env:
          channel: conda-forge
          subdir: ${{ matrix.subdir }}
          package: ${{ matrix.package }}
          registry_host: localhost
          registry_port: ${{ job.services.registry.ports[5000] }}
        run: |
          export PYTHONUNBUFFERED=1

          # First run mirror
          conda-oci mirror --channel ${channel} --subdir ${subdir} --package ${package} --registry http://${registry_host}:${registry_port}/dinosaur

          # Then run pull-cache and push-cache
          conda-oci pull-cache --registry http://${registry_host}:${registry_port}/dinosaur --subdir ${subdir} --package ${package}
          conda-oci push-cache --registry http://${registry_host}:${registry_port}/dinosaur --subdir ${subdir} --package ${package}

      - name: View Cache
        run: sudo apt-get install -y tree && tree ./cache
