name: conda-mirror test

permissions:
  contents: read

on:
  pull_request: []

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check Spelling
        uses: crate-ci/typos@7ad296c72fa8265059cc03d1eda562fbdfcd6df2 # v1.9.0
        with:
          files: ./README.md
      - name: Setup Environment
        run: conda create --quiet --name mirror pre-commit
      - name: Lint Conda Oci Mirror
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate mirror
          pip install -r .github/dev-requirements.txt
          pre-commit run --all-files

  testing:
    runs-on: ubuntu-latest
    services:
      registry:
        image: ghcr.io/oras-project/registry:latest
        ports:
          - 5000:5000
    steps:
      - uses: actions/checkout@v3
      - name: Setup Environment
        run: conda create --quiet --name mirror pytest
      - name: Test Conda OCI Mirror
        shell: bash -l {0}
        env:
          registry_host: http://localhost
          registry_port: ${{ job.services.registry.ports[5000] }}
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate mirror
          conda install conda-build
          pip install .
          pytest -xs conda_oci_mirror/tests/*.py

  mirror-pkgs:
    runs-on: ubuntu-latest
    services:
      registry:
        image: ghcr.io/oras-project/registry:latest
        ports:
          - 5000:5000
    strategy:
      max-parallel: 12
      matrix:
        package: [redo]
        subdir:
          - linux-64
          - osx-64
          - osx-arm64
          - win-64
          - linux-aarch64
          - linux-ppc64le
          - noarch
      fail-fast: true
    steps:
      - uses: actions/checkout@v3
      - name: Setup Environment
        run: conda create --quiet --name mirror pre-commit
      - name: Install Conda Oci Mirror
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          conda install conda-build
          source activate mirror
          pip install -e .

      - name: Test Conda Oci Mirror
        shell: bash -l {0}
        env:
          channel: conda-forge
          subdir: ${{ matrix.subdir }}
          package: ${{ matrix.package }}
          registry_host: localhost
          registry_port: ${{ job.services.registry.ports[5000] }}
        run: |
          export PYTHONUNBUFFERED=1
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate mirror

          # First run mirror
          conda-oci mirror --channel ${channel} --subdir ${subdir} --package ${package} --registry http://${registry_host}:${registry_port}/dinosaur

          # Then run pull-cache and push-cache
          conda-oci pull-cache --registry http://${registry_host}:${registry_port}/dinosaur --subdir ${subdir} --package ${package}
          conda-oci push-cache --registry http://${registry_host}:${registry_port}/dinosaur --subdir ${subdir} --package ${package}

      - name: View Cache
        run: sudo apt-get install -y tree && tree ./cache
